<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/rodriguesrm/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rodriguesrm" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>